/* Index - todas as páginas */
h1, th, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif;


}

body {
  background-image: url('img/wallpaper.jpg.png'); 
  background-size: cover; 
  background-repeat: no-repeat
}
td, th{
  text-align: center;
  padding: 20px; 
  text-align: center; 
  border: 1px solid #ddd; 
}
th{
  background-color: black;
  color: white;
}

.cabecalho{
  height: 250px;
}
.tabela{
  background: #fff;
  width: 450px;
  height: 350px;
  border-radius: 20px;
}

/* Index - Fim de Todas Páginas */
/* Botão Estilizado */
.botaos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
  }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .btn-white {
    background-color: #fff;
    color: black;
  }
  .btn::after {
    content: "";
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    transition: all 0.4s;
  }
  .btn-white::after {
    background-color: #fff;
  }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
}
/* Fim do botão Estilizado */
/* Input Estilizado */
label {
  display: block; 
  margin-bottom: 5px; 

}
input {

  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  font-size: 16px; 
  box-sizing: border-box;
  margin-bottom: 10px; 
}
button {
    display: inline-block; 
    padding: 10px 20px;
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background-color: white; 
}
/* Input não finalizado */

